<% layout("/boilerplate/bolier.ejs") %>

<form action="" method="post">
    <input name="product" placeholder="product name">
    <input name="image" placeholder="image link">
    <input name="seller" placeholder="Seller name">
    <input name="college" placeholder="college name">
    <input name="price" placeholder="price">
    <button>Submit</button>
</form>