<%layout("/boilerplate/bolier.ejs")%>
    <div class="container why-contain">
        <h2>SwapHub - Find Used Products List in Your College Campus</h2>
        <p>Easily post a free ad in your college campus and browse to buy used products.</p>
        
        <div class="step">
            <img src="//www.allstudyx.com/skin/images/image1.png" alt="Step 1">
            <div class="text">
                <h3>1st STEP</h3>
                <p><strong>I am a seller and I want to list my used items</strong></p>
                <ul>
                    <li>A list of used products</li>
                    <li>Can easily add, edit, and delete list</li>
                    <li>Prefer to buy in campus</li>
                </ul>
                <p><strong>I am a buyer and I want to browse through listed Ads</strong></p>
                <ul>
                    <li>Looking for someone who has listed my needs</li>
                    <li>Can easily browse it on my computer or smartphone</li>
                </ul>
            </div>
        </div>
        
        <div class="step">
            <img src="//www.allstudyx.com/skin/images/image2.png" alt="Step 2">
            <div class="text">
                <h3>2nd STEP</h3>
                <p><strong>Waiting for Buyer</strong></p>
                <ul>
                    <li>I will get an email for any reply or message</li>
                </ul>
                <p><strong>Yes, I got the list!</strong></p>
                <ul>
                    <li>I can contact the seller via Email, phone, or Skype</li>
                </ul>
            </div>
        </div>
        
        <div class="step">
            <img src="http://www.allstudyx.com/skin/images/image3.png" alt="Step 3">
            <div class="text">
                <h3>3rd STEP</h3>
                <p><strong>Meet in campus and make the transaction</strong></p>
                <ul>
                    <li>Collect the items and pay for it.</li>
                </ul>
            </div>
        </div>
    </div>

