<% layout("/boilerplate/bolier.ejs") %>

<form method="post" action="/signup">
    <input name="username" placeholder="username">
    <input name="email" placeholder="email">
    <input name="password" placeholder="password" type="password">
    <input name="hostel" placeholder="hostel block" >
    <button>Submit</button>
</form>